body {
    margin: 0px;
    padding-bottom: 0px;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
}
body * {
    /* font-size: 20px; */
    /* transition: 0.8s; */
}
nav {
    display: grid;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    /* min-height: 10vh; */
    grid-template-columns: 0.5fr 1fr;
    background-color: #000000;
    z-index: 101;
}
section {
    width: 100%;
    padding: 0px !important;
}
h1 {
    margin: 0px;
}
/* removes selected button's blue outline. */
button:focus {
    outline:0;
}
.container {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.site-name {
    padding: 10px 1em;
    display: flex;
}
.site-name h2 {
    width: 2em
}

.site-name h2, .site-name img{
    position: relative;
    color: ghostwhite;
    margin: 10px;
    cursor: pointer;
}
.nav-controls {
    padding: 0 1em;
}

#nav-control-list {
    display: flex;
    list-style: none;
    transition: 0.3s;
    padding: 0px;
    position: absolute;
    flex-direction: column;
    min-width: 40%;
    background-color: #000000;
    text-align: center;
    top: 25px;
    right: 0px;
    transform: translate(-3000px, 25px);
    width: 100%;
    color: ghostwhite;
}
.ham {
    display: block;
    position: relative;
    float: right;
    width: 35px;
    height: 35px;
    padding: 0.2em;
    padding-bottom: 0px;
    margin-top: 25px;
    text-align: center;
    border-radius: 10px;
    border: none;
}

#nav-control-list li{
    flex: 1;
    padding: 10px;
    cursor: pointer;
}

.ham img {
    width: 30px;
}

.root {
    margin-top: -2px;
    color: dimgray;
}
#logo {
    background-image: url(../img/data.svg); 
    background-color: black;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.matter {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #000000cc;
    min-height: 85vh;
}
.section-common {
    position: relative;
    min-width: 100%;
    
}
.section-content {
    /* display: grid;
    grid-template-rows: 9em 1fr; */
}
.section-heading {
    background-color: ghostwhite;
    line-height: 91px;

}

.article {
    display: flex;
    flex-wrap: wrap;
    /* grid-template-columns: repeat(auto-fit, minmax(120px, 1fr)); */
    column-gap: 50px;
    padding: 50px;
    /* line-height: 1.6em;
    word-spacing: 1px;
    justify-content: space-evenly;
    overflow-wrap: break-word; */
    text-align: center;
    /* font: initial; */
    margin: 0 auto;
}

.pictograph {
    margin: 0 auto;
    /* border-bottom: 1px solid lightgray; */
    padding: 16px;
    width: 80%;
}
.more-pictograph {
    display: grid;
    grid-template-areas: 'a b'
                            'c d'
                            'e f'
                            'g h';
    text-align: center;
    padding: 30px;
    margin: 0 auto;
}
.picto {
    width: 5em;
}
.picto-mini {
    width: 4em;
}
.graph {
    /* padding: 10px; */
    max-width: 300px;
    box-sizing: border-box;
    margin: 0 auto;
    margin-bottom: 30px;
    text-align: center;
}
.graph-mini {
    width: auto;
    font-weight: bold;
}
.brief {
    text-align: center;
    font-size: 1.7em;
    border-bottom: 1px solid lightgray;
    margin: 0 20px;
}
.highlight {
    color: white;
}

.highlight-dark {
    color: gray;
}
.highlight, .highlight-dark {
    text-align: center;
}
.highlight h1, .highlight-dark h1 {
    font-size: 2em;
}
.highlight h2, .highlight-dark h2 {
    font-weight: 100;
    padding: 0 40px;
    text-align: center;
    word-spacing: 1px;
}
.highlight-text-large {
    padding: 10px;
    font-size: 1.8em !important;
}
.highlight-text {
    padding: 10px;
    font-size: 1.2em;
}
.logo-wrapper img {

}
.fs {
    
    
}
.p {
    text-align: center;
}
.hs {
    display: grid;
    border: 1px solid;
    border-collapse: collapse;
}
.action {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: center;
    transition: 1s;
    top: -25vh;
}
.navigate {
    position: absolute;
    width: 40vw;
    height: 10vh;
    border-radius: 40px;
    transition: 0.3s;
    font-size: 1.2em;
    border: none;
    z-index: 100;
}
.yin {
    color: #e8e8e8;
    background-color: dimgray;
    border: 3px solid white;
}

.yang {
    color: dimgray;
    background-color: #e8e8e8;
    border: 3px solid dimgray;
}

.s-5 {
    display: grid;
    
}



.open {
    transform: translate(0, 25px) !important;
}
.close {
    transform: translate(-3000px, 25px) !important;
}
#top {
    position: fixed;
    bottom: 35px;
    right: 20px;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    border: 3px solid dimgray;
    z-index: 1200;
    background-color: white;
    background-image: url('../img/arrow.svg');
    background-size: contain;
    background-position: center center;
    background-repeat: no-repeat;
}
.hyper-button a {
    text-decoration: none;
}
#contact {
    display: grid;
    min-height: 20vh;
}
.handle-container {
    display: grid;
    text-align: center;
    justify-content: center;
    grid-template-areas: 'a b c d'
                         'e f g h';
    column-gap: 1.5em;
    margin: 2em;
    transition: 0.8s;
}
.handle {
    
}
.picto-micro {
    width: 1.7em;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
.copyright {
    position: relative;
    background-color: #0000005e;
    color: ghostwhite;
    text-align: center;
}
.copyright p {
    font-size: 0.7em    ;
    padding: 30px;
}

#contact {
    top: 33vh;
    background-color: #000000c4;

}
.contact-details {
    color: ghostwhite;
    margin-bottom: 20px;
    position: relative;
    right: 0;
    text-align: center;
}
.contact-node a {
    color: ghostwhite;
    text-decoration: none;
    font-size: 5px;
}
.mark {
    display: flex;
    margin: 20px;
    justify-content: center
}
.mark p {
    margin: 0;
}
.mark-logo img {
    width: 2em;
}
.mark-name {
    display: flex;
    color: ghostwhite;
    flex-direction: column;
    /* padding: 20px; */
    text-align: center;
}
.mln {
    margin-right: 7px
}
.mark-name-big {
    font-size: 21px;
}
.hb_a {
    width: 7em;
}
.footer-main {
    display: flex;
    flex-direction: column;
    justify-content: left;
    flex-wrap: wrap;
}
.shadow {
    box-shadow: 0 0 7px 2px white;
    border-radius: 15px;
}