@media screen and (min-width: 576px) {
    .article {
        max-width: 540px;
    }
    .pictograph {
        margin-bottom: 20px;
        width: 43%;
    }
    .nav {
        border: none;
    }
    .handle-container {
        column-gap: 4em;
    }
    .highlight-text-large {
        font-size: 2em;
    }
    .highlight-text {
        font-size: 1.5em;
    }
    /* .picto-micro {
        width: 1.5em;
    } */
   
}

@media screen and (min-width: 768px) {
    body {
        font-size: 20px;
    }
    .article {
        max-width: 720px;
    }
    .pictograph {
        width: 30%;
        padding: 0;
    }
    #nav-control-list {
        flex-direction: row;
        background-color: unset;
        text-align: center;
        position: relative;
        top: 5px !important;
        right: 10px !important;
        width: unset;
        border: unset;
        transform: translate(0px, 0px) !important;
    }
    #nav-control-list li {
        border: none;
        padding: 0;
    }
    .ham {
        display: none;
    }
    .section-body {
        margin: 2em 0;;
    }
    .more-pictograph {
       width: 80%;
    }
    .more-pictograph {
        grid-template-areas: 'a b c d e'
                             'f g h i j';
    }
    .handle-container {
        grid-template-areas: 'a b c d e f g h';
        column-gap: 1em;
    }

}
@media screen and (min-width: 992px) {
    body {
        font-size: 22px;
    }
    .article {
        max-width: 960px;
    }
    .handle-container {
        column-gap: 2em;
    }
}

@media screen and (min-width: 1130px) {
    
    .more-pictograph {
        width: 900px;
    }
}

@media screen and (min-width: 1300px) {
    .more-pictograph {
        width: 1150px;
    }
}