body {
    margin: 0px;
    padding: 2px;
    padding-bottom: 0px;
    font-family: 'Titillium Web', sans-serif;
}
section {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.container {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, 100vh) ;
}
#logo {
    /* background-image: url(../img/k-logo.png);  */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.matter {
    display: grid;
    vertical-align: middle;
    background-color: #56565661;
}
.section-common {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
}
.section-content {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}
.section-heading {
    background-color: ghostwhite;
    line-height: 91px;
}
.section-body article {
    padding: 50px;
    line-height: 2.3em;
    word-spacing: 1px;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    text-align: justify;
}
.highlight {
    color: white;
}
.highlight-dark {
    color: gray;
}
.highlight, .highlight-dark {
    text-align: center;
}
.highlight h1, .highlight-dark h1 {
    font-size: 2em;
}
.highlight h2, .highlight-dark h2 {
    font-weight: 100;
    padding: 0 40px;
    text-align: center;
    word-spacing: 1px;
}
.logo-wrapper img {
    z-index: 1;
}
.fs {
    border: 1px solid;

}
.p {
    text-align: center;
}
.hs {
    border: 1px solid;
    border-collapse: collapse;
}
.action {
    display: flex;
    position: relative;
    width: 100%;
    top: 80vh;
    justify-content: center;
    z-index: 2;
    transition: 1s;
}
.navigate {
    position: absolute;
    width: 40vw;
    height: 10vh;
    border-radius: 40px;
    border: 3px solid white;
    background-color: #e8e8e8;
    transition: 0.3s;
    font-size: 1.2em;
}
.yin {
    color: white;
}
.yang {
    color: dimgray;
}

.yang:hover {
    background-color: #e8e8e880;
    transition: 0.3s;
}

.hs .action {
    top: 33vh;
}
.s-1 {
    background-color: black;
}
.s-5 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}