body {
    margin: 0px;
    padding: 2px;
    padding-bottom: 0px;
    font-family: 'Titillium Web', sans-serif;
    overflow-x: hidden;
    font-size: 15px;
    max-width: 99vw;

}
nav {
    display: grid;
    position: absolute;
    width:100vw;
    min-height: 10vh;
    background-color: white;
    grid-template-columns: 0.7fr 1fr;
    z-index: 100;
}
section {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
/* removes selected button's blue outline. */
button:focus {
    outline:0;
}
.container {
    width: 100%;
    padding: 0px !important;
    margin: 0px !important;
}
.site-name {
    
}
.site-name h2 {
    position: relative;
    color: dimgray;
    margin: 0;
    padding: 1em;
    top: 5px;
}
.nav-controls {
    padding: 2em;
}
#nav-control-list {
    display: flex;
    list-style: none;
    transition: 0.3s;
    padding: 0px;
}

#nav-control-list li{
    flex: 1;
    border-bottom: 1px solid dimgray;
    padding: 10px;
}
.ham {
    display: none;
    position: absolute;
    right: 25px;
    top: 12px;
    width: 35px;
    height: 35px;
    padding: 1em;
    padding-right: 0.3em;
    text-align: center;
    border-radius: 10px ;
}
.ham img {
    width: 30px;
}

.root {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 100vh) ;
}
#logo {
    /* background-image: url(../img/k-logo.png);  */
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}
.matter {
    display: grid;
    vertical-align: middle;
    background-color: #56565661;
    
}
.section-common {
    position: absolute;
    min-width: 100%;
    min-height: 100vh;
}
.section-content {
    display: grid;
    grid-template-rows: 0.3fr 1fr;
}
.section-heading {
    background-color: ghostwhite;
    line-height: 91px;
    width: 99% !important;
}
.section-body article {
    padding: 50px;
    line-height: 2.3em;
    word-spacing: 1px;
    justify-content: space-evenly;
    overflow-wrap: break-word;
    text-align: justify;
}
.highlight {
    color: white;
}
.highlight-dark {
    color: gray;
}
.highlight, .highlight-dark {
    text-align: center;
}
.highlight h1, .highlight-dark h1 {
    font-size: 2em;
}
.highlight h2, .highlight-dark h2 {
    font-weight: 100;
    padding: 0 40px;
    text-align: center;
    word-spacing: 1px;
}
.logo-wrapper img {

}
.fs {
    border: 1px solid;

}
.p {
    text-align: center;
}
.hs {
    border: 1px solid;
    border-collapse: collapse;
}
.action {
    display: flex;
    position: relative;
    width: 100%;
    top: 80vh;
    justify-content: center;
    transition: 1s;
}
.navigate {
    position: absolute;
    width: 40vw;
    height: 10vh;
    border-radius: 40px;
    transition: 0.3s;
    font-size: 1.2em;
    border: none;
}
.yin {
    color: #e8e8e8;
    background-color: dimgray;
    border: 3px solid white;
}

.yang {
    color: dimgray;
    background-color: #e8e8e8;
    border: 3px solid dimgray;
}

.hs .action {
    top: 33vh;
}
.s-1 {
    background-color: black;
}
.s-5 {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
}

@media screen and (max-width: 680px) {
    #nav-control-list {
        position: absolute;
        flex-direction: column;
        min-width: 40%;
        background-color: white;
        text-align: center;
        top: 41px;
        right: 0px;
        transform: translate(-1000px, 0);
        border: 1px solid dimgray;
        width: 100%;
    }
    .ham {
        display: block;
    }
}
@media screen and (min-width: 681px) {
    #nav-control-list {
        flex-direction: row;
        background-color: unset;
        text-align: center;
        position: relative;
        top: 5px !important;
        right: 10px !important;
        width: unset;
        border: unset;
        transform: translate(0px, 0px) !important;
    }
    #nav-control-list li {
        border: none;
        padding: 0;
    }
}

.open {
	transform: translate(0, 20px) !important;
}
.close {
	transform: translate(-1000px, 20px) !important;
}